<h1>To Do List</h1>

<p>Here are all your tasks:</p>

<ul>
  <% @task.each() do |task|%>
  <li><%= task.description() %></li>
  <% end %>
</ul>

<p>Create a new task:</p>

<form action="/input" method="post">
  <div class="form-group">
    <label for="task">Please enter your task</label>
    <input id="task" type="text" name="task" class="form-control">
    <button type="submit" class="btn">Submit your Task</button>
  </div>
</form>
